
.card .card-image .card-title {
    padding: 5px !important;
    text-align: center !important;
}

.ingredient {
    margin: 0px !important;
}


.ingredient-row .input-field {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.recipe-image img {
    max-width: 100%;
    max-height: 100%;
}