{% extends 'base.html' %}

{% block content %}

<div class="test" id="test">Test in code</div>
<h3>Add a recipe</h3>
<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col-sm-12" name="recipeform">
        <div class="row">
            <div class="row">
                <div class="col-sm 12">
                    <label>Cuisine Type</label>
                    <select id="cuisine" name="cuisine_name">
                        <option value="" disabled selected>Choose Cuisine Type</option>
                        {% for cui in cuisine %}
                            <option value="{{cui.cuisine_name}}">{{cui.cuisine_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <label>Recipe Name</label>
                <input type="text" id="recipe_name" name="recipe_name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm 12">
                <label>Cuisine Type</label>
                <select id="user_name" name="user_name">
                    <option value="" disabled selected>Choose User</option>
                    {% for x in user %}
                        <option value="{{x.user_name}}">{{x.user_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="ingredient_count"><textarea name="ingredient_counter" id="ingredient_counter" style="display:none;">1</textarea></div>
        <div class="ingredient-list" id="ingredient-list">
            <div class="row ingredient">
                <div class="col-sm-4">
                    <p>Ingredient Name</p>
                    <label for="">List Ingredients</label>
                    <textarea name = "ingredient_1" id="ingredient_1" rows="1"></textarea>
                </div>
                <div class="col-sm-4">
                    <p>Quantity or Units (eg. 3 Cups, 2 Tbsp)</p>
                    <label for="">Quantity/Units</label>
                    <textarea name = "ingredient_qty_1" id="ingredient_qty_1" rows="1"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary" id="addIngredientButton">Add Ingredient</button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary" id="removeIngredientButton">Remove Ingredient</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label for="">Preparation Steps</label>
                <textarea name = "preparation" id="preparation" rows="5" cols="60"></textarea>
            </div>
        </div>
        <div class="row">
            <button class="btn" type="submit">Add Recipe
             </button>
        </div>
        
    </form>
</div>

<script type="text/javascript">
    //Testing to see if I can get a count or divs with class ingredient
    //var ingredientCount = document.getElementsByClassName("ingredient").length;
    //console.log(ingredientCount);
    
    var count = 1;
    $(document).ready(function() {
        $("#addIngredientButton").click(function(){
            count += 1;
            $( '.ingredient-list' ).append('<div class="row ingredient"><p>Test</p></div>');
            $( '.ingredient-list div:last').append('<div class="col-sm-4"><textarea name = "ingredient_'+count+'" id="ingredient_'+count+'" rows="1"></textarea></div> <div class="col-sm-4"><textarea name = "ingredient_qty_'+count+'" id="ingredient_qty_'+count+'" rows="1"></textarea></div>');
            $('#ingredient_counter').text( parseInt($('#ingredient_counter').text()) + 1 );
        }); 
    });
    
    
//#ingredient-list
    
</script>

{% endblock %}