{% extends 'base.html' %}

{% block content %}
    
    <h1>Here are the recipes: </h1>
    <br>
    <div class="container">
        <div class="row"> 
        {% for recipe in recipes %}
            <div class="col s4">
                <div class="card small">
                    <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">
                    <div class="card-image">
                        <!-- <img src="https://source.unsplash.com/400x300/?recipe,food"> -->
                        {% if recipe.recipe_image %}
                        <img src="{{ recipe.recipe_image }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/recipe.png') }}">
                        {% endif %}
                        <span class="card-title"> {{recipe.recipe_name}} </span>
                    </div>
                    </a>
                    <div class="card-content">
                        <p>Uploaded by {{ recipe.user_name }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">View or Edit Recipe</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>  
    </div>
    
{% endblock %}