{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="card-panel teal lighten-2">{{recipe.recipe_name}}</h1>
        </div>
    </div>
   
    <div class="row">
        <div class="col s6">
            <div class="col s12 recipe-image">
                <img class="z-depth-3" src="{{ recipe.recipe_image }}"></img>
                <blockquote>Recipe added by {{recipe.user_name}}</blockquote>
                {% if recipe.allergens %}
                <blockquote>Allergens: {{recipe.allergens}}</blockquote>
                {% else %}
                <blockquote>Allergens: None</blockquote>
                {% endif %}
            </div>
            <div class="col s12">
                <div class="col s6">
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Recipe</a>
                </div>
                <div class="col s6">
                    TO BE ADDED!!!
                </div>
            </div>
        </div>
        
        <div class="col s6">
            <div class="card">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel red">
                            <span class="white-text">
                                <p><span class="card-title red">Recipe Description</span></p>
                                <p>{{ recipe.description }}</p>
                            </span>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="card-panel red">
                            <span class="white-text">
                                <p><span class="card-title red">Ingredients: </span></p>
                                {% for ing in ingredients %}
                                {{ ing }}<br />
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="card-panel red">
                            <span class="white-text">
                                <p><span class="card-title red">Recipe Preparation</span></p>
                                {% set preparationList = recipe.preparation.split(',') %}
                                {% for item in preparationList %}
                                {{ item }} <br />
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>    
    
    
    
    <br>
    

    
 <script type="text/javascript">

</script>
    
{% endblock %}