{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="card-panel teal lighten-2">{{recipe.recipe_name}}</h1>
        </div>
    </div>
   
    <div class="row">
        <div class="col s6">
            <div class="col s12 recipe-image">
                <img class="z-depth-3" src="{{ recipe.recipe_image }}"></img>
                <blockquote>Recipe added by {{recipe.user_name}}</blockquote>
            </div>
            <div class="col s12">
                    <img class="z-depth-3" src="{{ recipe.recipe_image }}"></img>
                    <blockquote>Allergens: {{recipe.allergens}}</blockquote>
            </div>
        </div>
        
        <div class="col s6">
            <div class="card">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel red">
                            <span class="white-text">
                                <span class="card-title red">Ingredients:</span>
                                {% for ing in ingredients %}
                                <p>{{ ing }}</p>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="card-panel red">
                            <span class="white-text">
                                <span class="card-title red">Recipe Preparation</span>
                                <p>{{recipe.preparation}}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
    
    
    
    <br>
    

    
 <script type="text/javascript">

</script>
    
{% endblock %}