{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="card-panel teal lighten-2">{{recipe.recipe_name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <blockquote>Recipe added by {{recipe.user_name}}</blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col s6 recipe-image">
            Image Goes Here
        </div>
        <div class="col s6 recipe-content">
            <h5>Ingredients Required:</h5>
            {% for ing in ingredients %}
                <p>{{ ing }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3">
            <h5>Recipe Preparation</h5>
            <p>{{recipe.preparation}}</p>
        </div>
    </div>
</div>    
    
    
    
    <br>
    

    
 <script type="text/javascript">

</script>
    
{% endblock %}